<%- if controller_name != 'sessions' %>
  <p class="mt-4">Or click <%= link_to "here", new_session_path(resource_name), class: "devise-link" %> to log in.</p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="mt-4">Haven't got an account yet? Then <%= link_to "sign up!", new_registration_path(resource_name), class: "devise-link" %></p>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p>Forgot your password? Click <%= link_to "here", new_password_path(resource_name), class: "devise-link" %> to retrieve it!</p>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
  <% end %>
<% end %>
