<%= render "shared/navbar" %>

<div class="flat-index-container">
  <div class="components-container">
    <h1>Find the perfect flat for your stay in London</h1>

    <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @markers.to_json %>"
          class="map-container"></div>

    <div class="row gy-4">
      <% @flats.each do |flat| %>
        <div class="col-4">
          <div class="card flat-card">
            <%= link_to flat_path(flat) do %>
              <img src="<%= cl_image_path flat.photo.key %>" />
              <div class="flat-card-infos">
                <div>
                  <h2><%= flat.name %></h2>
                  <p>Up to <%= "#{flat.number_of_guests} #{'guest'.pluralize(flat.number_of_guests)}" %></p>
                </div>
                <div>
                  <p><%= flat.user.name %></p>
                  <h2>£<%= flat.price_per_night %>/night</h2>
                </div>
                <img src="<%= cl_image_path flat.user.photo.key, gravity: :face, height: 40, width: 40, zoom: 0.7, crop: :thumb %>" class="flat-card-user avatar-bordered" />
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="add-property-container">
      <h4>Have a flat to rent?</h4>
      <%= link_to "Rent your property", new_flat_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>

</div>
<footer>
  <p>Flats of London<span id="trademark">&#174;</span></p>
 <%# <p>
    Flats:
    <a href="https://unsplash.com/@tama66?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Peter Herrmann</a>,
    <a href="https://unsplash.com/@collovhome?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Collov Home Design</a>,
    <a href="https://unsplash.com/@spacejoy">Spacejoy</a>,
    <a href="https://unsplash.com/@ka_idris">Kam Idris</a>,
    <a href="https://unsplash.com/@grtshw">Grant</a>,
    <a href="https://unsplash.com/@eduardmilitaru">eduard</a>
    on <a href="https://unsplash.com/s/photos/historical-interior?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
  <p>
    People:
    <a href="https://unsplash.com/@phlmrtn">Philip Martin</a>,
    <a href="https://unsplash.com/@eugabrielsilverio">Gabriel Silvério</a>,
    <a href="https://unsplash.com/@joelmott">Joel Mott</a>,
    <a href="https://unsplash.com/@nonsapvisuals">Nonsap Visuals</a>
     on <a href="https://unsplash.com/s/photos/historical-interior?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
  <p>Background: <a href="https://www.pexels.com/fr-fr/@jdominici/">Jerome Dominici</a> on <a href="https://www.pexels.com/">Pexels</a></p>%>
</footer>
