<%= render "shared/navbar" %>

<div class="container white-container px-5 py-4 gy-4">
  <h1><%= @flat.name %></h1>
  <div class="row mt-4">
    <div class="col-sm-12 col-lg-6">
      <%= render "carousel", flat: @flat %>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div style="width: 100%; height: 460px;"
          data-controller="map"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-page-value="flats-show">
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12 col-lg-9">
      <div class="flat_details">
        <h2>About this flat</h2>
        <p>Host: <%= @flat.user.name %></p>
        <p>Capacity: <%= @flat.capacity %></p>
        <p><%= @flat.description %></p>
        <p>The exact address will be communicated to you upon payment.</p>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3">
      <div class="booking-form">
        <div data-controller="flatpickr" data-unavailable="<%= @flat.unavailable_dates.to_json %>" data-first-unavailable-dates="<%= @flat.booking_start_dates.to_json %>" class="widget-content">
          <p><span id="booking-form-price-per-night" data-flatpickr-target="price">£<%= @flat.price_per_night %></span> per night</p>
          <%= simple_form_for [@flat, @booking] do |f| %>
          <div class="d-flex">
            <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", input_html: {class: "datepicker", "data-flatpickr-target" => "start", id: "booking_start_date" } %>
            <%= f.input :end_date, as: :hidden, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, input_html: {class: "datepicker", "data-flatpickr-target" => "end", id: "booking_end_date"} %>
          </div>
            <%= f.input :number_of_guests, collection: (1..@flat.capacity) %>
            <%= f.submit "Book now", class: "button gradient-btn btn-booking", data: { turbo: false } %>
            <p data-flatpickr-target="total" class="mt-2"></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <% if @flat.user == current_user %>
  <%= link_to "Delete this listing", flat_path(@flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "btn btn-danger"%>

  <h2>Edit this flat's description</h2>
    <%= simple_form_for(@flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price_per_night, as: :numeric %>
      <%= f.input :capacity %>
      <%= f.submit %>
    <% end %>
  <% end %>

  <%= link_to "Back to all flats", flats_path, class: "button blue-btn mt-3" %>
</div>

<%= render "shared/footer", content_for(:color) { 'footer-purple' } %>
