<div class="container white-container gy-4">
  <h1 class="flat-title"><%= @flat.name %></h1>
  <div class="row mt-4">
    <div class="col-sm-12 col-lg-6">
      <%= render "carousel", flat: @flat %>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div style="width: 100%; height: 460px; border-radius: 5px;"
          data-controller="map"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-page-value="flats-show">
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12 col-lg-9">
      <div class="details-header">
        <h2>About <%= @flat.user.name %>'s flat</h2>
        <img src="<%= cl_image_path @flat.user.photo.key, gravity: :face, height: 40, width: 40, zoom: 0.7, crop: :thumb %>" class="avatar mb-2" />
      </div>
        <p><i class="fa-solid fa-users"></i>For up to <%= "#{@flat.capacity} #{'guest'.pluralize(@flat.capacity)}" %></p>
        <p><%= @flat.description %></p>
        <p>The exact address will be communicated to you upon payment.</p>
    </div>

    <div class="col-sm-12 col-lg-3">
      <div class="booking-form">
        <div data-controller="flatpickr" data-unavailable="<%= @flat.unavailable_dates.to_json %>" data-first-unavailable-dates="<%= @flat.booking_start_dates.to_json %>" class="widget-content">
          <p><span id="booking-form-price-per-night" data-flatpickr-target="price">£<%= @flat.price_per_night %></span> per night</p>
          <%= simple_form_for [@flat, @booking] do |f| %>
          <div class="d-flex">
            <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", input_html: {class: "datepicker", "data-flatpickr-target" => "start", id: "booking_start_date" } %>
            <%= f.input :end_date, as: :hidden, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, input_html: {class: "datepicker", "data-flatpickr-target" => "end", id: "booking_end_date"} %>
          </div>
            <%= f.input :number_of_guests, collection: (1..@flat.capacity) %>
            <%= f.submit "Book now", class: "button gradient-btn btn-booking", data: { turbo: false } %>
            <p data-flatpickr-target="total" class="mt-2"></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Back to all flats", flats_path, class: "button blue-btn mt-3" %>
</div>

<%= render "shared/footer", content_for(:color) { 'footer-purple' } %>
