<%= render "shared/navbar" %>

<div class="container">
  <h1><%= @flat.name %></h1>
  <%= cl_image_tag @flat.photo.key, class: "flat-image-show" %>
  <p>Host: <%= @flat.user.name %></p>
  <p>Capacity: <%= @flat.number_of_guests %></p>
  <p><%= @flat.description %></p>

  <%= simple_form_for [@flat, @booking] do |f| %>
    <%= f.label "From" %>
    <%= f.date_field :start_date, min: Date.today %>
    <%= f.label "To" %>
    <%= f.date_field :end_date, min: Date.tomorrow %>
    <%= f.submit "book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
  <% end %>

  <% if @flat.user == current_user %>
  <%= link_to "Delete this listing", flat_path(@flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "btn btn-danger"%>

  <h2>Edit this flat's description</h2>
    <%= simple_form_for(@flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
      <%= f.submit %>
    <% end %>
  <% end %>

  <%= link_to "Back to all flats", flats_path, class: "btn btn-primary mt-3" %>
</div>

<%= render "shared/footer", content_for(:color) { 'footer-purple' } %>
