<div class="row summary-row">
  <div class="col-12 mb-3">
    <h4><%= "#{flat.name}" %></h4>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="dashboard-image">
      <img src="<%= cl_image_path flat.photos.first.key %>" />
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <h5>Online since <%= flat.created_at.strftime("%-d %B %Y") %></h5>
    <p>Capacity: <%= "#{flat.capacity} #{'guest'.pluralize(flat.capacity)}" %></p>
    <p>Price: <%= humanized_money_with_symbol(flat.price_per_night) %> per night</p>
    <p>Booking stats: <%= flat.bookings.select { |b| b.past? && b.status == "confirmed" }.count %> past, <%= flat.bookings.select { |b| b.future? && b.status == "confirmed" }.count %> upcoming</p>
    <div class="action-buttons">
      <%= link_to '<i class="fa-regular fa-pen-to-square"></i>Amend details'.html_safe, edit_flat_path(flat), class: "button blue-btn" %>
      <button class="button blue-btn"><i class="fa-regular fa-calendar-days"></i>Add unavailable dates</button>
      <%= link_to '<i class="fa-solid fa-xmark"></i>Take off the market'.html_safe, flat_path(flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "btn btn-danger"%>
    </div>
  </div>
</div>
