<%= render "shared/navbar" %>

<div class="container white-container px-5 py-4">
  <h1>Dashboard</h1>

  <% unless @current_bookings.empty? %>
    <h2>You're staying here now!</h2>
    <div class="row gy-4">
      <% @current_bookings.each do |booking| %>
        <%= render "flat_summary", booking: booking %>
      <% end %>
    </div>
  <% end %>

  <div class="upcoming mb-5">
    <h2>Upcoming bookings</h2>
    <% if @future_bookings.empty? %>
      <p>You haven't booked anything yet!</p>
      <p>Discover our wonderful selection of flats here:</p>
      <%= link_to "See all flats", flats_path, class: "button gradient-btn" %>
    <% else %>
      <div class="row gy-4">
        <% @future_bookings.each do |booking| %>
          <%= render "flat_summary", booking: booking %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% unless @past_bookings.empty? %>
    <h2>Past bookings</h2>
    <div class="row gy-4">
      <% @past_bookings.each do |booking| %>
        <%= render "flat_summary", booking: booking %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/footer", content_for(:color) { 'footer-purple' } %>
