<%= render "shared/navbar" %>

<div class="container white-container px-5 py-4">
  <h1>Dashboard</h1>

  <% unless @current_bookings.empty? %>
    <h2>You're staying here now!</h2>
    <ul>
      <% @current_bookings.each do |booking| %>
        <li><%= booking.flat.name %>: from <%= booking.start_date %> to <%= booking.end_date %> for <%= booking.number_of_guests == 1 ? "1 person" : "#{booking.number_of_guests} people" %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="upcoming mb-5">
    <h2>Upcoming bookings</h2>
    <% if @future_bookings.empty? %>
      <p>You haven't booked anything yet!</p>
      <p>Discover our wonderful selection of flats here:</p>
      <%= link_to "See all flats", flats_path, class: "button gradient-btn" %>
    <% else %>
      <div class="row gy-4">
        <% @future_bookings.each do |booking| %>
          <div class="col-12">
            <h4><%= booking.start_date.strftime("%-d %B %Y") %> - <%= booking.end_date.strftime("%-d %B %Y") %></h3>
          </div>
          <div class="col-6">
            <div class="upcoming-image">
              <img src="<%= cl_image_path booking.flat.photos.first.key %>" />
            </div>
          </div>
          <div class=col-6>
            <h5><%= booking.flat.name %></h5>
            <p><%= booking.flat.description %></p>
            <p>Booked for <%= "#{booking.number_of_guests} #{'guest'.pluralize(booking.number_of_guests)}" %></p>
            <p>Total paid: <%= humanized_money_with_symbol(booking.amount) %></p>
            <div class="action-buttons">
              <button class="button blue-btn">Contact the host</button>
              <%= link_to "See flat details", flat_path(booking.flat), class: "button blue-btn" %>
              <button class="button blue-btn">Edit this booking</button>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% unless @past_bookings.empty? %>
    <h2>Past bookings</h2>
    <ul>
      <% @past_bookings.each do |booking| %>
        <li><%= booking.flat.name %>: from <%= booking.start_date %> to <%= booking.end_date %> for <%= booking.number_of_guests == 1 ? "1 person" : "#{booking.number_of_guests} people" %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render "shared/footer", content_for(:color) { 'footer-purple' } %>
