<%= render "shared/navbar" %>

<div class="container white-container px-5 py-4" data-controller="dashboard">
  <h1>Dashboard</h1>

  <div class="d-flex">
    <% unless @current_bookings.empty? %>
      <button class="current-bookings" data-dashboard-target="booking">Current stay</button>
    <% end %>
    <button class="future-bookings active" data-dashboard-target="booking">Upcoming bookings</button>
    <% unless @past_bookings.empty? %>
      <button class="past-bookings" data-dashboard-target="booking">Past bookings</button>
    <% end %>
  </div>

  <% unless @current_bookings.empty? %>
      <div class="current-bookings d-none booking-details" data-dashboard-target="details">
        <% @current_bookings.each do |booking| %>
          <%= render "flat_summary", booking: booking %>
        <% end %>
      </div>
  <% end %>

  <div data-dashboard-target="details" class="future-bookings booking-details d-block">
    <% if @future_bookings.empty? %>
      <p>You haven't booked anything yet!</p>
      <p>Discover our wonderful selection of flats here:</p>
      <%= link_to "See all flats", flats_path, class: "button gradient-btn" %>
    <% else %>
      <% @future_bookings.each do |booking| %>
        <%= render "flat_summary", booking: booking %>
      <% end %>
    <% end %>
  </div>

  <% unless @past_bookings.empty? %>
    <div data-dashboard-target="details" class="past-bookings d-none">
      <% @past_bookings.each do |booking| %>
        <%= render "flat_summary", booking: booking %>
      <% end %>
    </div>
  <% end %>
</div>


<%= render "shared/footer", content_for(:color) { 'footer-purple' } %>
