<div class="container white-container">
  <h1 class="checkout-title">Checkout summary</h1>
  <div class="row py-4">
    <div class="col-sm-12 col-lg-5">
      <%= cl_image_tag @flat.photos.first.key, width: '100%', class: "rounded checkout-img" %>
    </div>
    <div class="col-sm-12 col-lg-7">
      <div class="checkout-details-container px-4" data-controller="checkout" data-checkout-key-value="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-checkout-session-id-value="<%= @booking.checkout_session_id %>">
        <div class="checkout-recap">
          <h3 class="mb-3"><strong><%= @booking.flat.name %></strong></h3>
          <p>Please check all details are correct before clicking on "Proceed to payment".</p>
          <h6>Stay duration</h6>
          <p><%= "#{@booking.duration} #{'night'.pluralize(@booking.duration)}" %></p>
          <h6>Dates</h6>
          <p>From <%= @booking.formatted_date(:start_date) %> to <%= @booking.formatted_date(:end_date) %></p>
          <h6>Number of guests</h6>
          <p><%= @booking.number_of_guests %></p>
          <h6>Total</h6>
          <p><%= humanized_money_with_symbol @booking.amount %></p>
        </div>
        <button id="pay" class="button gradient-btn checkout-btn" data-checkout-target="payButton">Proceed to payment</button>
      </div>
    </div>
  </div>
        <%= link_to "Go back", :back, class: "button blue-btn mt-4" %>
</div>

<%= render "shared/footer", content_for(:color) { 'footer-purple' } %>
